@inject ICompanyInformation _companyInformation
@inject UserManager<ApplicationUser> _userManager
@using Coop.Application.AdminNotes
@using Coop.Web.Data
@using Microsoft.AspNetCore.Identity
@model Coop.Application.Articles.ArticleListViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0">
            <h1 class="display-6 fst-italic">Сформировать QR код для оплаты</h1>
        </div>
        @if (User.IsInRole(Constants.USER_ROLE) || User.IsInRole(Constants.ADMIN_ROLE))
        {
            <div class="row mb-2">
                <div class="col-md-6 p-3">
                    <form class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-9">
                            <div class="input-group">
                                <div class="input-group-text">№ гаража</div>
                                <input type="text" class="form-control" id="input-garage-number" placeholder="Например, 121">
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="input-group">
                                <div class="input-group-text">Сумма в рублях</div>
                                <input type="number" class="form-control" id="input-pay-sum" placeholder="1000">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <dnt-captcha asp-captcha-generator-max="100"
                                         asp-captcha-generator-min="10"
                                         asp-captcha-generator-language="English"
                                         asp-captcha-generator-display-mode="ShowDigits"
                                         asp-use-relative-urls="true"
                                         asp-placeholder="Код с картинки"
                                         asp-validation-error-message="Вы ввели неверный код"
                                         asp-font-name="Tahoma"
                                         asp-font-size="20"
                                         asp-fore-color="#333333"
                                         asp-back-color="#ccc"
                                         asp-text-box-class="form-control"
                                         asp-text-box-template="<div class='input-group'>{0}</div>"
                                         asp-validation-message-class="text-danger"
                                         asp-show-refresh-button="false"/>
                        </div>
                        <div class="col-12">
                            <button id="button-check-garage" type="submit" class="btn btn-primary">Сформировать</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 p-3">
                    <figure class="figure">
                        <img id="img-garage-pay"
                             width="150"
                             height="150"
                             src="~/img/qr-code.png" class="figure-img img-fluid rounded" alt="QR код">
                        <figcaption class="figure-caption">
                            Узнать задолженность вы можете на странице имущетсва
                            <a asp-controller="Realty" asp-action="Index">Перейти</a>
                        </figcaption>
                    </figure>
                    <!--<p class="text-start">
                        <a href="#">Оплатить картой через банк</a>
                    </p>-->
                </div>
            </div>
        }
        else
        {
            <div class="row mb-2">
                <div class="col-md-6 p-3">
                    <p>Выполните вход в учетную запись и получить возможность создать QR код для оплаты</p>
                </div>
            </div>
        }
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic">
                Последние новости
                @if (User.IsInRole(Constants.ADMIN_ROLE))
                {
                    <a asp-action="Create"
                       asp-controller="Article"
                       class="btn btn-sm btn-outline-primary">
                        Добавить новость
                    </a>
                }
            </h3>

            @foreach (var news in Model.Items)
            {
                <article class="blog-post">
                    <h2 class="blog-post-title">@news.Title</h2>
                    <p class="blog-post-meta">
                        @news.CreatedAt.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
                        @if (User.IsInRole(Constants.ADMIN_ROLE))
                        {
                            <a asp-action="Update"
                               asp-controller="Article"
                               asp-route-id="@news.Id"
                               class="text-warning">
                                Изменить новость
                            </a>
                            <a asp-action="Archive"
                               asp-controller="Article"
                               asp-route-id="@news.Id"
                               class="text-danger">
                                Удалить новость
                            </a>
                        }
                    </p>
                    <p>
                        @news.Details
                    </p>
                    <hr>
                </article>
            }

            <nav class="blog-pagination" aria-label="Pagination">
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    var nextPage = Model.CurrentPage + 1;
                    <a class="btn btn-outline-primary" asp-action="Index" asp-route-page="@nextPage">Старые</a>
                }
                @if (Model.CurrentPage > 1)
                {
                    var prevPage = Model.CurrentPage - 1;
                    <a class="btn btn-outline-primary" asp-action="Index" asp-route-page="@prevPage">Новые</a>
                }
            </nav>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">О кооперативе</h4>
                    <b class="mb-0">@_companyInformation.GetCompany()</b>
                    <ol class="list-unstyled">
                        @foreach (var prop in _companyInformation.GetCompanyProperties())
                        {
                            <li>
                                @prop
                            </li>
                        }
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Администрация</h4>
                    <ol class="list-unstyled">
                        @foreach (var contact in _companyInformation.GetContacts())
                        {
                            <li>
                                <b>@contact.Channel </b>
                                @contact.Contact
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        const payFuncUrl = `@Url.ActionLink("GetPayImage", "Payment")`;
       
        const garageNumInput = $("#input-garage-number");
        const paySumInput = $("#input-pay-sum");
        const garageCheckButton = $("#button-check-garage");
        const garagePayImg = $("#img-garage-pay");
        
        $(() => {
            garageCheckButton.click((e) => {
               e.preventDefault();
               let garage = garageNumInput.val();
               let url = `${payFuncUrl}?subject=членский взнос за ${garage}&sum=${paySumInput.val()}`;
               $.ajax({
                 url: url,
                 beforeSend: function( xhr ) {
                 }
               })
                 .done(function( data ) {
                    garagePayImg.attr("src",data);
                 }); 
            });
        });
    </script>
}