@model Coop.Application.Advertisement.AdvertisementListViewModel

@{
    ViewBag.Title = "Мои объявления";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-md-6 mb-1 flex-grow-1">
            <h3 class="fst-italic">
                Ваши объявления
            </h3>
        </div>
        <div class="col ml-auto mb-1">
            <div class="btn-group" role="group">
                <a asp-action="Create" class="btn btn-outline-primary">Создать объявление</a>
                @if (User.IsInRole(Constants.ADMIN_ROLE))
                {
                    <a asp-action="NewAds" class="btn btn-outline-warning">Модерация объявлений</a>
                }
                <a asp-action="Index" class="btn btn-outline-primary">Все объявления</a>
            </div>
        </div>
    </div>
    @foreach (var ad in Model.Items)
    {
        <div class="row">
            <div class="col-md-12">
                <article class="blog-post">
                    <h2 class="blog-post-title">@ad.Title</h2>
                    <p class="blog-post-meta">
                        @ad.CreatedAt.ToString("dd.MM.yyyy HH:mm")
                        @if (ad.IsPublished)
                        {
                            <i class="text-green">Опубликовано</i>
                        }
                        <a asp-action="Archive" asp-route-id="@ad.Id" class="text-danger">Удалить</a>
                    </p>
                    <p>
                        @ad.Text
                    </p>
                    <hr>
                </article>
            </div>
        </div>
    }
    @if (Model.CurrentPage < Model.TotalPages)
    {
        var nextPage = Model.CurrentPage + 1;
        <a class="btn btn-outline-primary" asp-action="MyAd" asp-route-page="@nextPage">Старые</a>
    }
    @if (Model.CurrentPage > 1)
    {
        var prevPage = Model.CurrentPage - 1;
        <a class="btn btn-outline-primary" asp-action="MyAd" asp-route-page="@prevPage">Новые</a>
    }
</div>